
.benefits {
    background: var(--btn-font-color);
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
    }

    &__company {
      display: none;
      visibility: hidden;
    }
  }
  
  
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
      width: 100%;
      @include tablet {
        width: calc((100% - 30px) / 2);
      }
      @include desktop {
        width: calc((100% - 90px) / 4);
       }
    }
    &__title {
      font-weight: 700;
      text-align: center;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--title-color);
      margin-bottom: 10px;
      @include tablet {
        text-align: start;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--text-color);
      
    }
    
    &__image {
      width: 100%;
      height: 120px;
      justify-content: center;
      align-items: center;
      background-color: var(--team-background-color);
      border-radius: 2%;
      margin-bottom: var(--typical-margin);
      display: flex;
    }

    &__icon {
      justify-content: center;
      align-items: center;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  