
.header {
    background-color: var(--btn-font-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
    >.container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include tablet {
      padding-top: 21px;
      padding-bottom: 21px;
      @include desktop {
        padding-top: 25px;
      padding-bottom: 25px;
      }
    }
  }
  
  .nav {
    display: none;
    @include tablet {
      display: block;
    }
  }
  
  
  .contacts {
    &__list {
      display: none;
    
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0;
      @include desktop {
        display: flex;
      flex-direction: row;
      justify-content: flex-start;
      }
    }
    }
      
    
    &__link-tel,
    &__link-mail {
      width: 100%;
      height: 100%;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--text-color);
      display: flex;
      align-items: center;
      justify-content: center;
      transition-property: all;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link-mail {
      margin-bottom: 10px;
      @include desktop {
        margin-bottom: 0;
      }
    }


    &__item-connect {
      margin-left: 30px;
    }
    
    &__icon {
      margin-right: 10px;
    }
    
  &__link-mail:hover,
  &__link-mail:focus,
  &__link-tel:hover,
  &__link-tel:focus {
    color: var(--accent-color);
  }
  
  &__link-tel,
  &__link-mail {
    fill: currentColor;
  }
  
  &__link-tel:hover,
  &__link-tel:focus,
  &__link-mail:hover,
  &__link-mail:focus {
    color: var(--accent-color);
  }
  }

  
  
  .logo {
    &__web {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.03em;
      color: var(--accent-color);
      @include desktop {
        font-size: 26px;
      line-height: 1.19;
      }
    }
    
    &__studio {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.03em;
      color: var(--logo-color);
      @include desktop {
        font-size: 26px;
      line-height: 1.19;
      }
    }
  }


  .nav {
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__list {
    display: flex;
  }
  
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  }
  
  .current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transform: translateY(30px);
    background-color: #2196f3;
    @include desktop {
      transform: translateY(32px);
    }
  }



.menu-open-btn  {
      width: 40px;
      height: 40px;
      border-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      position: absolute;
      cursor: pointer;
      top: 5px;
      right: 10px;
      padding: 0;
      outline-color: transparent;
      transition-property: all;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      margin-right: auto;
      fill: #212121;
      &:hover,
      &:focus {
      fill: #2196f3;
    }
    @include tablet {
      display: none;
    }
}

.mob-menu-close-btn {
      width: 40px;
      height: 40px;
      border-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 10px;
      padding: 0;
      outline-color: transparent;
      transition-property: all;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      margin-right: auto;
      fill: #212121;
      &:hover,
      &:focus {
      fill: #2196f3;
    }
}


.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    @include tablet {
      display: none;
    }
  }

  &__list {
    margin-top: 48px;
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
  }
}


.mob-connect {
  :not(:last-child) {
    margin-bottom: 32px;
  }
  
  &__link-mail {
    font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: #757575;
margin-bottom: 32px;
}
&__item-tel {
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #2196F3;
}
}


.mob-soc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 64px;
  &:not(:last-child) {
    margin-right: 10px;
  }
    
  &__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
}
  
  
.current-mob {
  margin-left: 26px;
  color: #2196F3;
}


.count {
  border-right:  1px solid rgba(33, 33, 33, 0.2);
transform: rotate(90deg);
height: 22px;
padding-right: 10px;
}