
.portfolio {
    background: var(--btn-font-color);
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
    }

    &__btn-list {
      justify-content: start;
      display: flex;
      flex-wrap: wrap;
      gap: 15px 8px;
      margin-bottom: 50px;
      @include tablet {
        justify-content: center;
      }
    }

    &__btn {
      font-family: inherit;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      text-align: center;
      letter-spacing: 0.03em;
      border-radius: 4px;
      color: var(--title-color);
      transition-property: all;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      border: none;
    }
    &__btn-item
    
    &__btn:hover,
    &__btn:focus {
      color: var(--btn-font-color);
      background: var(--accent-color);
      border: none;
    }
    
    &__btn:hover,
    &__btn:focus {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    &__content {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
 
    
    &__item {
      width: 100%;
      &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }
      @include tablet {
        width: calc((100% - 30px) / 2);
      }
      @include desktop {
        width: calc((100% - 60px) / 3);
      }
      background-color: var(--btn-font-color);
      display: flex;
      flex-direction: column;
    }
    
    &__top-wrap {
      position: relative;
      overflow: hidden;
    }
    
    &__top-text {
      height: 100%;
      position: absolute;
      top: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.55;
      letter-spacing: 0.03em;
      color: #ffffff;
      background: rgba(33, 150, 243, 0.9);
      transition-property: all;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transform: translateY(100%);
      display: flex;
      align-items: center;
      padding-left: 24px;
      padding-right: 24px;
    }
    
    &__item:hover &__top-text {
      transform: translateY(0);
    }
    
    &__container {
      padding: 20px 24px;
      outline: 1px solid #eeeeee;
      flex-grow: 1;
    }
    
    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: var(--title-color);
      margin-bottom: 4px;
    }
    
    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      color: var(--text-color);
    }
    
    &__top-text {
      position: absolute;
    }
  }
  
  
  
  .all {
    width: 73px;
    height: 38px;
  }
  
  .sites {
    width: 128px;
    height: 38px;
  }
  
  .applications {
    width: 145px;
    height: 38px;
  }
  
  .design {
    width: 103px;
    height: 38px;
  }
  
  .marketing {
    width: 130px;
    height: 38px;
  }
  
  
  