:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --btn-background-service-color: #188CE8;
    --btn-font-color: #FFFFFF;
    --logo-color: #000000;
    --header-background-color: #2F303A;
    --about-benefits-background-color: #E5E5E5;
    --team-background-color: #F5F4FA;
    --typical-margin: 30px;
}